<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../../static/style.css" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_fact</title>
</head>

<body>
    <h1>welcome to PetFex</h1>
    <form >
    <label style="font-weight: bold;">submitters_name:</label>
    <input type="text" id="submitters_name" name="submitters_name" value="">
    <br> <br>
    <label style="font-weight: bold;">pet_fact: </label>
    <textarea rows="5" cols="33"></textarea>
    <br> <br>
    <input type="submit">
    </form>

</body>

</html>